<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Dev-Skills</title>
</head>
<body>
  <body>
    <h1>Dev-Skills #<%= skill.id %></h1>
    <h3><%= skill.skill %></h3>
    <h3>Confirmed: <%= skill.confirm ? 'Yes' : 'No' %></h3>
    <form action="/skills/show<%= skill.id %>?_method=DELETE"
      class="delete-form" method="POST">
      <button type="submit">Delete Skill</button>
    </form>
    <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
  </body>
</body>
</html>